@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/home-design-tokens.css";
@import "../styles/product-design-tokens.css";
@import "../styles/aboutus-design-tokens.css";
@import "../styles/services-design-tokens.css";
@import "../styles/contact-design-tokens.css";
@import "../styles/newsroom-design-tokens.css";
@import "../styles/font-design-tokens.css";
@import "../styles/layout-design-tokens.css";
@import "../styles/animation-design-tokens.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
  }
}
