@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/home-design-tokens.css";
@import "../styles/product-design-tokens.css";
@import "../styles/aboutus-design-tokens.css";
@import "../styles/services-design-tokens.css";
@import "../styles/contact-design-tokens.css";
@import "../styles/newsroom-design-tokens.css";

@custom-variant dark (&:is(.dark *));
