@layer components {
  .ctaFooter {
    min-height: 55vh;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .ctaContent {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
