@layer components {
  .galleryHeader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  @media (min-width: 48em) {
    .galleryHeader {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .galleryGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;
    cursor: pointer;
  }

  @media (min-width: 48em) {
    .galleryGrid {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 3rem;
    }
  }

  .galleryMedia {
    height: 400px;
    position: relative;
    overflow: hidden;
    background: var(--surface-dark);
  }

  @media (min-width: 64em) {
    .galleryMedia {
      height: 600px;
    }
  }
}
